@font-face {
  font-family: "SF-Pro";
  src: url("../../fonts/San-Francisco-Pro/SF-Pro-Display-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../../fonts/San-Francisco-Pro/SF-Pro-Display-RegularItalic.otf")
    format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../../fonts/San-Francisco-Pro/SF-Pro-Display-Semibold.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../../fonts/San-Francisco-Pro/SF-Pro-Display-BoldItalic.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
}
